html {
  --c-text-primary: #000000;
  --c-text-secondary: #fafafa;

  --c-bg-primary: #ffffff;
  --c-bg-secondary: #2a2a2a;
  --c-bg-thirty: #232323;

  --c-green-light: #1ee0ac;
  --c-orange: #fd7913;

  --c-border-line: #39393b;
}

[data-theme="dark"] {
  --c-text-primary: #a1a1a1;
  --c-text-secondary: #fafafa;

  --c-bg-primary: #1b1b1b;
  --c-bg-secondary: #2a2a2a;
  --c-bg-thirty: #232323;

  --c-green-light: #1ee0ac;
  --c-orange: #fd7913;

  --c-border-line: #39393b;
}

body {
  background: var(--c-bg-primary);
  margin: 0;
  color: var(--c-text-primary);
  font-family: "Inter";
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 800px;
  margin-top: 80px;
  margin: 90px auto 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

a {
  color: var(--c-text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blog__panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-post-form {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;

    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;
  }

  textarea {
    font-family: "Inter";
    width: 100%;
    height: 120px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
}
