html {
  --c-text-primary: #000000;
  --c-text-secondary: #fafafa;

  --c-bg-primary: #ffffff;
  --c-bg-secondary: #2a2a2a;
  --c-bg-thirty: #232323;

  --c-green-light: #1ee0ac;
  --c-orange: #fd7913;

  --c-border-line: #39393b;
}

[data-theme="dark"] {
  --c-text-primary: #a1a1a1;
  --c-text-secondary: #fafafa;

  --c-bg-primary: #1b1b1b;
  --c-bg-secondary: #2a2a2a;
  --c-bg-thirty: #232323;

  --c-green-light: #1ee0ac;
  --c-orange: #fd7913;

  --c-border-line: #39393b;
}

body {
  background: var(--c-bg-primary);
  margin: 0;

  color: var(--c-text-primary);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 800px;
  margin-top: 80px;
  margin: 90px auto 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

a {
  color: var(--c-text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
